<!DOCTYPE html>
<html lang="">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="icon" href="/meetings-ui/favicon.ico">
<link media="all" href="/library/skin/tool_base.css" rel="stylesheet" type="text/css" />
<script src="/library/js/headscripts.js"></script>
<title>meetings-ui</title>
<link href="/meetings-ui/css/app.css" rel="preload" as="style">
<link href="/meetings-ui/css/chunk-vendors.css" rel="preload" as="style">
<link href="/meetings-ui/js/app.js" rel="preload" as="script">
<link href="/meetings-ui/js/chunk-vendors.js" rel="preload" as="script">
<link href="/meetings-ui/css/chunk-vendors.css" rel="stylesheet">
<link href="/meetings-ui/css/app.css" rel="stylesheet"></head>
<body>
<noscript>
<strong>We're sorry but meetings-ui doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>

<div id="app" th:siteid="${siteId}" th:toolid="${toolId}"></div>
<script src="/meetings-ui/js/chunk-vendors.js"></script>
<script src="/meetings-ui/js/app.js"></script>
</body>
</html>