@mixin focus-outline($color) {
  &:focus {
    box-shadow: 0 0 0 $input-focus-width rgba($color, .5);
    //box-shadow: 0 0 0 $input-focus-width rgba(mix($input-bg, $input-border-color, 15%), .5);
  }
}

@each $color, $value in $theme-colors {
  .focus-#{$color} {
    @include focus-outline($value);
  }
}

.btn-input-group {
  @include button-variant(
    $input-bg,
    $input-border-color,
    $active-background: $input-group-addon-bg,
  );
  display: flex;
  align-items: center;
}

.btn-sidebar-collapse {
  border: none;
  @include button-variant($primary, $light);
  &:not(:focus) {
    box-shadow: none;
  }
}
.btn-navii {
  border: none;
  @include button-variant($dark, $light);
  &:not(:focus) {
    box-shadow: none;
  }
}

.portal-nav-sidebar{

  .sakai-sitesAndToolsNav {
    overflow-y: scroll;
  }

  .btn-nav,
  .btn-site-opt {
    --bs-btn-box-shadow: unset;
    &:hover,
    &:focus {
      background-color: #c7d5dd;
    }
    &:active {
      background-color: #a6bcca;
    }
    border: none;
  }

  .btn-nav {
    border-radius: 0;
  }

  .btn-site {
    font-weight: 550;
  }

  .btn-site-carret {
    &::before {
      display: inline-flex;
      width: 1.25em;
      margin-inline-end: 0.25rem;
      line-height: 0;
      content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
      transition: transform 0.35s ease;
      transform-origin: 0.5em 50%;
      @extend .bi;
    }
  }

  .btn-site,
  .btn-subsite {
    &[aria-expanded="true"] .btn-site-carret::before {
      transform: rotate(90deg);
    }
  }


  .site-desc {
    font-style: italic;
  }

  &.portal-nav-sidebar-mobile {
    .btn-site-opt {
      color: var(--bs-gray-600);
    }
    .site-list-item-collapse {
      background-color: var(--bs-gray-200);
    }
  }

  &.portal-nav-sidebar-desktop {
    background-color: var(--bs-gray-200);
    .site-list-item:not(:hover):not(:focus-within) .btn-site-opt {
      color: transparent;
    }
    .site-list-item-collapse {
      background-color: var(--bs-gray-100);
    }
  }
}
