<script src="/library/js/portal/portal.sidebar.sites.js$!{portalCDNQuery}"></script>
<script src="/library/js/portal/portal.sidebar.collapse.js$!{portalCDNQuery}"></script>
<script src="/library/js/portal/portal.serverinfo.js$!{portalCDNQuery}"></script>